{% extends "individualsymphony/base.html" %}
{% load i18n %}
{% block og-title %}{% trans "References - Individual Symphony" %}{% endblock %}
{% block desc %}{% trans "These references listed below used to create this project." %}{% endblock %}
{% block og-desc %}{% trans "These references listed below used to create this project." %}{% endblock %}
{% block canonical-url %}https://individualsymphony.com/{{ LANGUAGE_CODE }}/references{% endblock %}
{% block og-url %}https://individualsymphony.com/{{ LANGUAGE_CODE }}/references{% endblock %}
{% block twitter-title %}{% trans "References - Individual Symphony" %}{% endblock %}
{% block twitter-desc %}{% trans "These references listed below used to create this project." %}{% endblock %}
{% block title %}{% trans "References - Individual Symphony" %}{% endblock %}
{% block h1 %}<h1>{% trans "References" %}</h1>{% endblock %}
{% block description %}
{% blocktrans %}
<p style="font-weight: bold">These references listed below used to create this project.</p>
{% endblocktrans %}
{% endblock %}
{% block content %}
<ul class="collection">
<li class="collection-item">B. Ferwerda, M. Tkalcic, and M. Schedl, “Personality traits and music genre preferences : How music taste varies over age groups,” vol. 1922, 2017, pp. 16–20.</li>
<li class="collection-item">C. Chute, A. Manfrediz, S. Minton, D. Reinsel, W. Schlichting, and A. Toncheva, The Diverse and Exploding Digital Universe: An Updated Forecast of Worldwide Information Growth Through 2011, 2011.</li>
<li class="collection-item">R. Zhou, S. Khemmarat, and L. Gao, “The impact of youtube recommendation system on video views,” 2010.</li>
<li class="collection-item">K. D. Schwartz and G. T. Fouts, “Journal of youth and adolescence,” vol. 32, no. 3, pp. 205–213, 2003.</li>
<li class="collection-item">L. R. Goldberg, “An alternative “description of personality”: The big-five factor structure.” Journal of Personality and Social Psychology, vol. 59, no. 6, pp. 1216— -1229, 1990.</li>
<li class="collection-item">I. Ali, “An alternative “description of personality”: The big-five factor structure,” Journal of Innovation Knowledge, 2018.</li>
<li class="collection-item">T. Chamorro-Premuzic, V. Swami, A. Furnham, and I. Maakip, “The big five personality traits and uses of music,” Journal of Individual Differences, vol. 30, no. 1, pp. 20–27, 2009.</li>
<li class="collection-item">P. J. Rentfrow and S. D. Gosling, “The do re mi’s of everyday life: The structure and personality correlates of music preferences,” Journal of Personality and Social Psychology, vol. 84, no. 6, pp. 1236–1256, 2003.</li>
<li class="collection-item">J. L. Pearson and S. J. Dollinger, “Music preference correlates of jungian types,” Personality and Individual Differences, vol. 36, no. 5, pp. 1005–1008, 2004.</li>
<li class="collection-item">O. P. John, E. M. Donahue, and R. L. Kentle, “The big five inventory,” 1991.</li>
<li class="collection-item">O. P. John, L. P. Naumann, and C. J. Soto, “Paradigm shift to the integrative big five trait taxonomy: History, measurement, and conceptual issues,” New York, NY: Guilford Press, pp. 114–158, 2008.</li>
<li class="collection-item">A. S. Lampropoulos, P. S. Lampropoulou, and G. A. Tsihrintzis, “A cascade- hybrid music recommender system for mobile services based on musical genre clas- sification and personality diagnosis,” Multimedia Tools and Applications, vol. 59, no. 1, pp. 241–258, 2011.</li>
<li class="collection-item">R. Cheng and B. Tang, “A music recommendation system based on acoustic fea- tures and user personalities. trends and applications in knowledge discovery and data mining,” pp. 203–213, 2016. 24</li>
<li class="collection-item">M. K. Shan, F. F. Kuo, M. F. Chiang, and S. Y. Lee, “Emotion-based music recommendation by affinity discovery from film music,” Expert Systems with Ap- plications, vol. 36, no. 4, pp. 7666–7674, 2009.</li>
<li class="collection-item">A. Paudel, B. Ratna Bajracharya, M. Ghimire, and N. Bhattarai, “Personality based music recommendation system,” 2017.</li>
<li class="collection-item">P. P. S. Chen, “The entity-relationship model—toward a unified view of data,” ACM Transactions on Database Systems, vol. 1, no. 1, pp. 9–36, 1976.</li>
<li class="collection-item">(2019) Get audio features for a track — spotify for developers. [Online]. Avail- able: https://developer.spotify.com/documentation/web-api/reference/tracks/ get-audio-features</li>
<li class="collection-item">S. Potdar, Pardawala K., T., and C. Pai D., “A comparative study of categorical variable encoding techniques for neural network classifiers,” International Journal of Computer Applications, vol. 175, no. 4, pp. 7–9, 2017.</li>
</ul>
{% endblock %}